header{
    width:100%;
    .presentation{
        padding-top: 12px;
        position: relative;
        padding-bottom: 16px;
        border-bottom: 3px solid $greyBorder;
        .title{
            text-align: center;
            font-size:23px;
            text-transform: uppercase;
        }
        .sub-title{
            text-align: center;
            text-transform: uppercase;
            font-size:13px;
            color:$orange;
        }
        .logo{
            height: 100%;
            position: absolute;
            left:15px;
            top:15%;
            img{
                height: 70%;
            }
        }
    }
    .menu{
        height: 125px;
            .element{
                height: 100%;
                font-size:13px;
                margin: 0px;
                text-transform: uppercase;
                width:33.3%;
                position: relative;
                padding-top:28px;
                padding-bottom: 17px;
                float:left;
                color:white;
                position: relative;
                .txt{
                    position: absolute;
                    bottom:17px;
                    text-align: center;
                    width: 100%;

                }
                img{
                    height: 47px;
                    margin: auto;
                    margin-bottom: 13px;
                }
                img.activated{
                    display: none;

                }
                img:not(.activated){
                    display:block;
                }
            }
            .element.selected{
                background-color: white;
                color:black;
                img.activated{
                    display: block;

                }
                img:not(.activated){
                    display: none;
                }
            }
    }
}