.tracking{
    padding: 30px 20px;
    padding-bottom: 0px;
    position: relative;
    height: 100%;
    text-transform: uppercase;
    text-align: center;
    color:rgb(74,74,74);
    //not started
    .title{
        font-size:27px;
        padding: 0px 30px;
        margin-bottom: 38px;
    }
    .title-challenge{
        margin: 20px 0px;
    }
    .sub-title{
        font-size:21px;
        margin-bottom: 19px;
    }
    .option{
        @extend .back-light-grey;
        padding: 25px;
        font-size:19px;
        width:48%;
        margin: 0% 1%;
        float:left;
        margin-bottom: 50px;
    }
    .option.selected{
        @extend .back-light-orange;
    }
    .start,.end{
        width:100%;
        padding: 17px 0px;
        text-align: center;
        font-size:26px;
        margin-bottom: 20px;
    }
    //Started
    .title-start{
        font-size:27px;
        margin-top: 6px;
        margin-bottom: 19px;
    }
    .distance{
        font-size:60px;
        span{
            margin-bottom: 20px;
        }
        .unit{
            font-size:13px;
        }
        margin-bottom: 27px;
    }
    .distance-challenge{
        margin-bottom: 35px;
    }
    .info{
        >div{
            float:left;
            width:33.3%;
        }
        text-align: center;
        font-size:10px;
        position: relative;
        .info-title{
            margin-bottom: 15px;
        }
        .sub-info{
            font-size:8px;
        }
        .info-value{
            font-size:22px;
            margin-bottom: 18px;
        }
        margin-bottom: 30px;
    }
    .points{
        .info-title{
            margin-bottom: 6px;
        }
        .info-value{
            font-size:40px;
            margin-bottom: 3px;
        }
        .icon-value{
            position: relative;
        }
    }
    .info.middle{
        border-left:3px solid $greyBorder;
        border-right:3px solid $greyBorder;
    }
    .end.button{
        margin-top: 13px;
        
    }
    
}