.tracking{
    padding: 35px 20px;
    padding-bottom: 0px;
    position: relative;
    height: 100%;
    text-transform: uppercase;
    text-align: center;
    color:rgb(74,74,74);
    //not started
    .title{
        font-size:30px;
        padding: 0px 30px;
        margin-bottom: 65px;
    }
    .sub-title{
        font-size:21px;
        margin-bottom: 17px;
    }
    .option{
        @extend .back-light-grey;
        padding: 30px;
        width:48%;
        margin: 0% 1%;
        float:left;
        margin-bottom: 55px;
    }
    .option.selected{
        @extend .back-light-orange;
    }
    .start{
        width:100%;
        padding: 18px 0px;
        text-align: center;
        font-size:30px;
        margin-bottom: 45px;
    }
    //Started
    .title-start{
        margin-top: 6px;
        margin-bottom: 45px;
    }
    .distance{
        font-size:60px;
        span{
            margin-bottom: 22px;
        }
        .unit{
            font-size:13px;
        }
        margin-bottom: 30px;
    }
}