@mixin webkit-box{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow:hidden;

}
@mixin absoluteFill{
    position:absolute;left:0px;right:0px;top:0px;bottom:0px;
    width:100%;height:100%;
    /* edit: added z-index */
    z-index: 1;

    /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif */
    background-image: url('../img/empty.gif');
}
@mixin box-shadow($left,$bottom,$spread,$thickness,$opacity){
    box-shadow:$left $bottom $spread $thickness rgba(0,0,0,$opacity);
    -webkit-box-shadow: $left $bottom $spread $thickness rgba(0,0,0,$opacity);
}
@mixin resp-fill{
    padding-left:0px !important;padding-right:0px !important;
    margin-left:auto;margin-right:auto;
    width:100% !important;//0.25% -> border-left 0.25% border-right;
    float:none;
}
@mixin font-size($size){
    font-size:$size;
    @media only screen and (max-width: 768px){
        font-size:ceil($size * 0.9);
    }
    
}
*,*:after,*:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    min-height: 100%;
   // border:3px solid $greyBorder;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; 
    background-color: white;
    margin:0px;
    font-family: 'Nunito','Spinnaker', sans-serif;

}
.background{
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}
.background-contain{
    background-size:contain;
}
.clear{
    clear:both;
}
.button{
    border-radius: 8px;
}
input[type=submit]{
    border:none;
}
.link{
    position:relative;
}
.link > a{
    @include absoluteFill;
    z-index:10;
}
.link:hover{
    cursor:pointer;
}
*:focus, textarea:focus, input:focus{
    outline: 0;
}
textarea{
    resize:none;
}
.uppercase{
    text-transform: uppercase;
}
