*,*:after,*:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    min-height: 100%;
    border:3px solid $greyBorder;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none; 
    background-color: white;
    margin:0px;
    font-family: 'Nunito','Spinnaker', sans-serif;

}
.clear{
    clear:both;
}
.button{
    border-radius: 8px;
}