/*

*/
$light-orange:rgb(249,143,115);
$orange:rgb(195,93,40);
$bruin:rgb(98,46,15);
$turquoise:rgb(75,162,154);
$greyBorder:rgb(210,210,210);
$light-grey:rgb(240,240,240);
.orange{
    color:white;
    color:$orange;
}
.back-orange{
    background-color: $orange;
}
.bruin{
    color:$bruin;
}
.back-bruin{
    color:white;
    background-color: $bruin;
}
.turquoise{
    color:$turquoise;
}
.back-turquoise{
    background-color: $turquoise;
}
.light-orange{
    color:white;
    color:$light-orange;
}
.light-back-orange{
    background-color: $light-orange;
}
.back-light-grey{
    color:black;
    background-color: $light-grey;
}
.light-grey{
    color:$light-grey;
}