<div class="background img" style="background-image:url(challenge.img)">
</div>
<div clas="content">
    <div class="challenge-title">{{challenge.title}}</div>
    <div class="challenge-description">{{challenge.description}}</div>
    <div class="participation" indicator data-num="challenge.peopleRegistered" data-max="challenge.capacity">
    </div>
    <div class="message orange">{{challenge.peopleRegistered +' person(s) already registered '}}</div>
    <div class="actions">
        <span ng-class="{true:'disabled',false:''}[challenge.peopleRegistered<challenge.capacity]"class="button back-grey" ng-if="challenge.type==1" ng-click="executeChallenge(challenge)">
            I'M going
        </span>
        <span class="button back-turquoise" ng-if="challenge.type==2" ng-click="joinChallenge(challenge)">
            JOIN THIS CHALLENGE
        </span>
        <span class="button back-grey" ng-click="moreInfos(challenge)">
           More infos
        </span>
    </div>
</div>