<div ng-controller="ChangeDriverCtrl">
	<my-menu left-icon="" 	right-icon="" title="SELECT DRIVER"
			 left-action=""	right-action="">
	</my-menu>
	
	<div class="container-Light">
		<div class="info-field-green bottomSpace-small">
			<a ng-click="changeDriver(-1);">
				<div class="arrow-icon-next"></div>
				ALL DRIVERS SUMMARY
			</a>
		</div>

		<div class="info-field-blue bottomSpace-small" ng-repeat="driver in CHANGEDRIVER">
			<div ng-click="changeDriver(driver.id);">
				<div class="arrow-icon-next hitstate"></div>
				{{driver.firstname +" "+ driver.lastname}}
			</div>
		</div>

		<div class="button-red hitstate">
			<a ng-click="cancelButton()">CANCEL</a>
		</div>
	</div>

</div>