<my-menu left-icon="back-icon" left-action="changeURL('#/settings');" title="CHANGE PASSWORD">
</my-menu>

<div class="container-green container-huge no-scroll" ng-controller="ChangePasswordCtrl">
	
	<img class="header-logo-signin bottomSpace-huge" src="css/assets/signin_logo.png">
	
	<form ng-submit="submitPassword()">
		<div class="input_password bottomSpace-big hitstate">
			<input type="password" placeholder="OLD PASSWORD" ng-model="oldPassword">
		</div>
		
		<div class=" input_password bottomSpace-sticky hitstate">
			<input type="password" placeholder="NEW PASSWORD" ng-model="newPassword">
		</div>
		<div class=" input_password bottomSpace-big hitstate">
			<input type="password"  placeholder="CONFIRM NEW PASSWORD" ng-model="confirmPassword" ng-change="checkConfirm()">
		</div>
		
		<div class="input_submit hitstate">
			<input type="submit" value="CHANGE PASSWORD">
		</div>
	</form>
</div>
