<div ng-controller="DashboardFuelDetailCtrl">
<!-- 	<my-menu left-icon="back-icon" 						right-icon="" 
			 left-action="changeURL('#/dashboard');"	right-action="" >
	</my-menu>
 -->
	<div class="menu-bar" ng-controller="UserInfoCtrl">
		<div  ng-click="goBack()" class="hitstate">
			<div class="back-icon" ></div>
		</div>
			<span class="condensedFont"> {{ DRIVER.firstname + " " + DRIVER.lastname }} </span>
			
		<div class="" onclick="">
			<div class="" ></div>
		</div>
	</div>

	<div ng-repeat="detail in DASHDETAIL.fuel_detail">
		<div ng-class-odd="'container-Dark'" ng-class-even="'container-Light'" class="container-huge">
			<div class="header-icon-fuel"></div>
			<div class="header-title bottomSpace-huge">{{ detail.day + ", " + detail.dateFormat }}</div>
			
			<table class="arrow-table bottomSpace-big">
				<caption>{{ detail.hour + "-" + detail.address.city + " " + detail.address.zipcode}}</caption>
				<tbody>
					<tr>
						<th> GALLONS <div class="arrow-icon"></div> </th>
						<td> {{detail.gallons}}</td>
					</tr>
					<tr>
						<th> TOTAL COST <div class="arrow-icon"></div> </th>
						<td> &#36;{{detail.total_cost}}</td>
					</tr>
					<tr>
						<th> TOTAL SAVED <div class="arrow-icon"></div> </th>
						<td> &#36;{{detail.saved}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>