<div ng-controller="externalLinkCtrl">
    <div ng-show="navbar == 'navbar'">
	   <my-menu  left-icon="menu-icon" 			right-icon="update-icon" 
			     left-action="extendMenu();"	right-action="tenders();">
	   </my-menu>
    </div>
    
    <div class="menu-bar" ng-hide="navbar == 'navbar'" ng-controller="UserInfoCtrl">
        <div ng-click="goBack()" class="hitstate">
            <div class="back-icon" ></div>
        </div>
            <span ng-hide="title" class="condensedFont"> {{ DRIVER.firstname + " " + DRIVER.lastname }} </span>
            {{ title }}
    </div>
	
    <iframe src="{{ url }}" width="100%" height="100%" style="border:none;"></iframe>
</div>