<header>
    <div class="presentation">
        <div class="title">
            Sportcoins
        </div>
        <div class="sub-title orange">
            Move. Engage. Gain.
        </div>
        <div class="logo"></div>
    </div>
    <div class="menu">
        <div class="element back-light-orange selected">
            <img/>
            <div class="txt">
                Tracking
            </div>
        </div>
        <div class="element back-orange">
            <img/>
            <div class="txt">
                Challenges
            </div>
        </div>
        <div class="element back-bruin">
            <img/>
            <div class="txt">
                Rewards
            </div>
        </div>
    </div>
</header>