<div class="presentation">
    <div class="logo">
        <img class="img" src="/assets/logo.png"/>
    </div>
    <div class="title">
        Sportcoins
    </div>
    <div class="sub-title orange">
        Move. Engage. Gain.
    </div>
    <div class="logo"></div>
</div>
<div class="menu">
    <div class="element back-light-orange selected">
        <img class="activated" src="assets/runner_grey.png"/>
        <img src="assets/runner_white.png"/>
        <div class="txt">
            Tracking
        </div>
    </div>
    <div class="element back-orange">
        <img class="activated" src="assets/calendar_grey.png"/>
        <img src="assets/calendar_white.png"/>
        <div class="txt">
            Challenges
        </div>
    </div>
    <div class="element back-bruin">
        <img class="activated" src="assets/-trophy_grey.png"/>
        <img src="assets/trophy_white.png"/>
        <div class="txt">
            Rewards
        </div>
    </div>
    <div class="clear"></div>
</div>
