<div class="presentation">
    <div class="logo">
        <img class="img" src="assets/logo.png"/>
    </div>
    <div class="title">
        <span class="light-orange">carrot</span><span class="orange">club</span>
    </div>
    <div class="sub-title orange">
        Move. Engage. Gain.
    </div>
    <div class="logo"></div>
</div>
<div class="menu">
    <div class="element back-light-orange {{elementOneSelected}} link" onclick="switchActivated($(this))">
        <a onclick="changeURL('#/tracking')"></a>
        <img class="activated" src="assets/runner_grey.png"/>
        <img src="assets/runner_white.png"/>
        <div class="txt">
            Tracking
        </div>
    </div>
    <div class="element back-orange link {{elementTwoSelected}}" onclick="switchActivated($(this))">
        <a onclick="changeURL('#/challenge')"></a>
        <img class="activated" src="assets/calendar_grey.png"/>
        <img src="assets/calendar_white.png"/>
        <div class="txt">
            Challenges
        </div>
    </div>
    <div class="element back-bruin link {{elementThreeSelected}}" onclick="switchActivated($(this))">
        <a onclick="changeURL('#/store')"></a>
        <img class="activated" src="assets/trophy_grey.png"/>
        <img src="assets/trophy_white.png"/>
        <div class="txt">
            Rewards
        </div>
    </div>
    <div class="clear"></div>
</div>
