<div class="menu-bar" ng-controller="UserInfoCtrl">
	<div class="{{ leftClass }} hitstate" onclick="{{ leftAction }}">
    	{{ leftText }}
    	<div class="{{ leftIcon }}" ></div>
	</div>
		<span ng-hide="title" class="condensedFont"> {{ DRIVER.firstname + " " + DRIVER.lastname }} </span>
		{{ title }}
	<div class="{{ rightClass }} hitstate" onclick="{{ rightAction }}">
		{{ rightText }} 
    	<div class="{{ rightIcon }}" ></div>
	</div>
</div>

<div ng-controller="MenuCtrl" id="extendMenu" style="display:none;">
	<a  ng-repeat="link in MENU.values" ng-click="menuLink(link.key)" class="hitstate">
		<div ng-class="{true: 'selected', false: ''}[link.isSelected]">
			<div ng-class="link.key + '-icon'" ></div>
			{{ link.display }}
		</div>
	</a>
</div>