<div ng-controller="ProfileContactDetailCtrl">
<div ng-controller="UserInfoCtrl">
	
	<div ng-hide="isEditing">
		<div class="menu-bar" ng-hide="isEditing">
			<div onclick="changeURL('#/profile')" class="hitstate">
		    	<div class="back-icon" ></div>
			</div>
				{{ DRIVER.firstname + " " + DRIVER.lastname }}
			<div class="blue-text hitstate" ng-click="toggleEditing()" ng-show="isEditable">
				EDIT
			</div>
		</div>

		<div class="container-Light">
			<a ng-href="tel:{{PROFILEDETAIL.cellphone}}" class="hitstate">
				<div class="info-field-blue bottomSpace-normal">{{ PROFILEDETAIL.cellphone }}</div>
			</a>
			
			<a ng-href="mailto:{{PROFILEDETAIL.email}}" class="hitstate">
				<div class="info-field-blue uppercase bottomSpace-big">{{ PROFILEDETAIL.email }}</div>
			</a>
		    
		    <a onclick="window.open('{{PROFILEDETAIL.adressLink}}', '_system','location=yes');" class="hitstate">
				<div class="adress-field bottomSpace-big">
					{{ PROFILEDETAIL.address.number + " " + PROFILEDETAIL.address.street }} <br>
					{{ PROFILEDETAIL.address.extra }} <br>
					{{ PROFILEDETAIL.address.city + " " + PROFILEDETAIL.address.state + PROFILEDETAIL.address.zipcode }}
				</div>
			</a>
		    
			<table class="arrow-table bottomSpace-big">
				<tbody>
					<tr ng-hide="PROFILEDETAIL.badge == ''">
						<th> Badge <div class="arrow-icon"></div> </th>
						<td class="center">{{ PROFILEDETAIL.badge }}</td>
					</tr>
					<tr>
						<th> Birthday <div class="arrow-icon"></div> </th>
						<td class="center">{{ PROFILEDETAIL.birthday | getMMDDYYYYStr}}</td>
					</tr>
					<tr>
						<th> shirt size <div class="arrow-icon"></div> </th>
						<td class="center">{{ PROFILEDETAIL.shirt_size }}</td>
					</tr>
				</tbody>
			</table>
		    
			<table class="emergency-table bottomSpace-big">
				<caption>EMERGENCY CONTACT</caption>
				<tbody>
					<a ng-href="tel:{{ PROFILEDETAIL.contact.phone }}">
						<tr>
							<th> {{ PROFILEDETAIL.contact.name }}</th>
							<td> {{ PROFILEDETAIL.contact.phone }}</td>
						</tr>
					</a>
				</tbody>
			</table>
		    
			<info-table class="bottomSpace-huge"
						th1="TRUCK"						th2="QUALCOMM"					th3="PREPASS"
						td1="{{ PROFILEDETAIL.truck }}"	td2="{{ PROFILEDETAIL.qualcomm_login }}"	td3="{{ PROFILEDETAIL.prepass }}">
			</info-table>

		</div>

	</div>


	<div ng-show="isEditing">

		<div class="menu-bar">
			<div class="red-text hitstate" ng-click="toggleEditing()" >CANCEL </div>
				EDIT
			<div class="green-text hitstate" ng-click="submitChange()"> SAVE </div>
		</div>

		<div class="container-Light container-huge">

			<p ng-class="bottomSpace-huge uppercase">{{ USER.firstname + " " + USER.lastname }}</p>

			<div class="info-field-blue uppercase editable bottomSpace-normal hitstate">
				<input id="cellphone" type="text" ng-model="editedValue.cellphone" placeholder="Phone">
				<div ng-click="clearField('cellphone')">&times</div>
			</div>
			
			<div class="info-field-blue editable bottomSpace-big hitstate">
				<input id="email" type="text" ng-model=" editedValue.email" placeholder="E-mail">
				<div ng-click="clearField('email')">&times</div>
			</div>

		    <a>
				<div class="adress-field unmodifiable bottomSpace-big">
				{{ PROFILEDETAIL.address.number + " " + PROFILEDETAIL.address.street }} <br>
				{{ PROFILEDETAIL.address.extra }} <br>
				{{ PROFILEDETAIL.address.city + " " + PROFILEDETAIL.address.state + PROFILEDETAIL.address.zipcode }}
				</div>
			</a>
		    
		   
			<table class="arrow-table bottomSpace-big">
				<tbody>
					<tr class="unmodifiable">
						<th> Badge <div class="arrow-icon"></div> </th>
						<td>{{ PROFILEDETAIL.badge }}</td>
					</tr>
					<tr class="unmodifiable">
						<th> Birthday <div class="arrow-icon"></div> </th>
						<td>{{ PROFILEDETAIL.birthday | getMMDDYYYYStr}}</td>
					</tr>
					<tr>
						<th> shirt size <div class="arrow-icon"></div> </th>

						<td class="editable hitstate">
							<input id="shirt_size" type="text" ng-model="editedValue.shirt_size">
							<div ng-click="clearField('shirt_size')">&times</div>
						</td>
					</tr>
				</tbody>
			</table>
		    
			<table class="emergency-table bottomSpace-big">
				<caption>EMERGENCY CONTACT</caption>
				<tbody>
					<a ng-href="tel:{{ PROFILEDETAIL.contact.phone }}" class="hitstate">

						<tr>
							<th class="editable">
								<input id="name" type="text" ng-model="editedValue.contact.name" placeholder="Name">
								<div ng-click="clearContactField('name')">&times</div>
							</th>
							<td class="editable"> 
								<input id="phone" type="text" ng-model="editedValue.contact.phone" placeholder="Phone">
								<div  ng-click="clearContactField('phone')">&times</div>
							</td>
						</tr>
					</a>
				</tbody>
			</table>
		    

			<info-table class="bottomSpace-huge"
						th1="TRUCK"						th2="QUALCOMM"							 th3="PREPASS"
						td1="{{ PROFILEDETAIL.truck }}"	td2="{{ PROFILEDETAIL.qualcomm_login }}" td3="{{ PROFILEDETAIL.prepass }}">
			</info-table>

		</div>

	</div>

</div>
</div>