<my-menu left-icon="back-icon" left-action="changeURL('#/login');"
             title="RESET PASSWORD">
</my-menu>

<div class="container-green container-huge"  ng-controller="ResetPasswordCtrl">
	
	<img class="header-logo-signin bottomSpace-huge" src="css/assets/signin_logo.png">
    
       <p class="bottomSpace-normal">NEW PASSWORD WILL BE SENT TO YOUR EMAIL</p>
    
    <form ng-submit="submitResetPassword()">
        <div class="input_email bottomSpace-big hitstate">
        	<input type="email" placeholder="EMAIL ADDRESS" ng-model="inputEmail" ng-change="checkEmail()">
        </div>
        <div class="input_submit hitstate">
        	<input type="submit" value="RESET PASSWORD">
        </div>
    </form>
    
</div>
