<div ng-controller="SettingsCtrl">
	<my-menu left-icon="menu-icon" 			right-icon="update-icon" 
			 left-action="extendMenu();"	right-action="tenders();">
	</my-menu>
	
	<div class="container-Light container-big">
		
		<div ng-show="isEditable" class="info-field-blue bottomSpace-sticky hitstate" onclick="changeURL('#/changePassword')">
			<div class="arrow-icon-next"></div> 
			CHANGE PASSWORD 
		</div>
		
		<div class="info-field-blue bottomSpace-sticky hitstate" onclick="addPageToPageFlow('#/tenders');changeURL('#/terms')">
			<div class="arrow-icon-next"></div> 
			TERMS &amp; CONDITIONS
		</div>
        
        <div class="info-field-blue bottomSpace-sticky hitstate" onclick="addPageToPageFlow('#/tenders');changeURL('#/walkThrough')">
        	<div class="arrow-icon-next"></div> 
        	INFORMATIONAL WALKTHROUGH
        </div>
		
		<div class="info-field-red hitstate" onclick="changeURL('#/login')">
			<div class="arrow-icon-next"></div>
			LOG OUT
		</div>
	</div>
</div>