<div ng-controller="TendersCtrl">
	<my-menu left-icon="menu-icon" right-icon="update-icon" left-action="extendMenu()"	right-action="tenders();" right-class="selected"></my-menu>
	
	<ul class="tab-bar-3 condensedFont">
		<li class="selected-Dark hitstate">Pre-Plan</li>
		<li class="hitstate"><a onclick="changeURL('#/tendersTrip');">Trip Plan</a></li>
		<li class="hitstate"><a onclick="changeURL('#/tendersHistory');">History</a></li>
	</ul>

	<div ng-show="isItAllDriverView" class="container-Dark selecteDriverMessage">
		Please select an individual<br/>driver to see this section.
	</div>

	<div ng-hide="isItAllDriverView" class="data-box">
		<div class="container-Dark container-big" id="{{ trip.id }}" ng-repeat="trip in TENDERS.trip">
			<div class="info-title-blue bottomSpace-normal"> ORDER {{trip.id}} - {{trip.loaded_miles}} MI </div>
            <div class="info-text-yellow comment-ellipsis bottomSpace-big" ng-hide="trip.hot_comments == ''">{{trip.hot_comments}}</div>
            <div class="comment-full info-text-yellow bottomSpace-big">{{trip.hot_comments}}</div>
            <div class="info-text-black toggle-text-yellow bottomSpace-normal hitstate" ng-click="expandHotComment($event)">SHOW MORE</div>

			<div class="bottomSpace-normal" ng-repeat="stop in trip.stop">

				<div class="info-text-black no-shadow-field bottomSpace-sticky"> {{ stop.label }} </div>
				
				<a onclick="window.open('{{stop.adressLink}}', '_system','location=yes');">
					<div class="info-field-blue multiple-line-text no-shadow-field bottomSpace-sticky hitstate"> 
						<div class="arrow-icon-next"></div>
                        {{ stop.name }}<br/>
						{{ stop.address.number + " " + stop.address.street + " " + stop.address.extra }} <br/>
						{{ stop.address.city + ", " + stop.address.state+ " " + stop.address.zipcode }}<br/>
					</div>
				</a>

				<table class="arrow-table bottomSpace-big">
					<tbody>
						<tr>
							<th class="center">{{ stop.appointment.start  | getDateStr }} {{ stop.appointment.start   | getHourStr }} <div class="arrow-icon"></div></th>
							<td class="center">{{ stop.appointment.end  | getDateStr }} {{ stop.appointment.end  | getHourStr }}</td>
						</tr>
					</tbody>
				</table>

			</div>

			<br/>
			<a ng-click="seeTrip(trip.id);">
				<div class="simple-text-button bottomSpace-huge hitstate">SEE TRIP DETAIL ></div>
			</a>
			
			<div ng-hide="trip.accepted || !trip.allow_reject" id="accept" class="button-green bottomSpace-normal hitstate" ng-click="acceptTender(trip.id);">
				ACCEPT >
			</div>
			<div ng-hide="trip.accepted || !trip.allow_reject" id="reject" class="button-red hitstate" ng-click="rejectTender(trip.id);"> 
				REJECT >
			</div>

			<div ng-show="trip.accepted" id="accepted" class="button-grey hitstate" style="display:none;" > ACCEPTED </div>
		</div>
	</div>
</div>
<script type="text/javascript">pageReady();</script>

