<div class="info-title-blue bottomSpace-normal"> ORDER {{trip.id}} - {{trip.loaded_miles}} MI </div>
<div class="info-text-yellow bottomSpace-big" ng-hide="trip.hot_comments == ''"> {{trip.hot_comments}}</div>

<div ng-repeat="stop in trip.stop">

	<div class="info-title-green no-shadow-field bottomSpace-sticky"> {{ stop.label }}</div>

	<a onclick="window.open('{{stop.adressLink}}', '_system','location=yes');">
		<div class="info-field-blue multiple-line-text no-shadow-field bottomSpace-sticky hitstate"> 
			<div class="arrow-icon-next"></div>
            {{ stop.name }}<br/>
            {{ stop.address.number + " " + stop.address.street + " " + stop.address.extra }} <br/>
			{{ stop.address.city + ", " + stop.address.state+ " " + stop.address.zipcode }}<br/>
		</div>
	</a>
	
	<table class="arrow-table bottomSpace-big">
		<tbody>
			<tr>
                <th class="center">{{ stop.appointment.start  | getDateStr }} {{ stop.appointment.start   | getHourStr }} <div class="arrow-icon"></div></th>
				<td class="center">{{ stop.appointment.end  | getDateStr }} {{ stop.appointment.end  | getHourStr }}</td>
			</tr>
		</tbody>
	</table>


	<table class="arrow-table bottomSpace-normal">
		<tbody>
			<tr ng-hide="stop.appointment_number == ''">
				<th>APPOINTMENT #<div class="arrow-icon"></div></th>
				<td>{{ stop.appointment_number }}</td>
			</tr>
			<tr>
				<th>EQUIPMENT #<div class="arrow-icon"></div> </th>
				<td>{{ stop.equipment_number }}</td>
			</tr>
			<tr>
				<th>EQUIPMENT SIZE<div class="arrow-icon"></div> </th>
				<td>{{ stop.equipment_size}}'</td>
			</tr>
		</tbody>
	</table>

	<div class="info-text-black multiple-line-text bottomSpace-normal" ng-hide="stop.instructions == ''">
		{{ stop.instructions }}
	</div>

	<div class="info-field-blue bottomSpace-huge hitstate">
		<a ng-href="tel:{{stop.contact.phone}}">{{ stop.contact.name }} - {{ stop.contact.phone }}</a>
	</div>
</div>
