<script type="text/javascript">pageReady();</script>
<div class="swiper-container">
  <div class="swiper-wrapper">
      <!--First Slide-->
      <div class="swiper-slide"> 
        <img src="css/assets/walkthrough1.png">
      </div>
      
      <!--Second Slide-->
      <div class="swiper-slide">
        <img src="css/assets/walkthrough2.png">
      </div>
      
      <!--Third Slide-->
      <div class="swiper-slide"> 
        <img src="css/assets/walkthrough3.png">
      </div>
  </div>
</div>
