body, html {
	width: 100%;
	max-width: 100%;
	font-size: 100%;
}

.menu-bar {
	padding-top: 20px;
	padding-bottom: 15px;
}

#input_email, #input_password, #input_submit {
	height: 50px;
}

#input_submit {
	border-top-width: 3px;
}
